
*.bin
*.d
*.elf
*.hex
*.in
*.map
*.o
*.out
*.spv
onx.????.c
*.ondb
,*
.vimfiles
dfu.zip
onx-xcb
onx-pi4
onx/
sdk
external/freetype
external/lvgl

# never show me: also in .git/info/exclude:

docs/local
.*.sw*

