
*.bin
*.d
*.elf
*.hex
*.in
*.map
*.o
*.out
*.spv
onx.????.c
*.ondb
,*
dfu.zip
onx-arm
onx-x86
onx/
sdk
docs/local
external/freetype
external/lvgl

# Android

local.properties
android/doc
build/
.cxx/

# never show me: also in .git/info/exclude:

.*.sw?
android/.gradle

