
*.bin
*.d
*.elf
*.hex
*.in
*.map
*.o
*.out
*.spv
onx.????.c
*.ondb
,*
dfu.zip
onx-xcb
onx-pi4
onx/
sdk
docs/local
external/freetype
external/lvgl

# never show me: also in .git/info/exclude:

.*.sw*

